/* Personal Board Style */
.board-area{
    width: 100%;
    margin-right: 10px;
    margin-top: 80px;
    overflow: hidden;
}
.board-area p{
    display: inline-block;
    line-height: 24px;
    margin: 3px 0 0;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.untitled{
    background-color: green;
    width: 80%;
    height: 150px;
    margin: 10px 0 0 0;
}
.untitled p{
    font-size: 16px;
    color: #fff;
    margin: 5px 0 0 5px;
    font-weight: 500;
    text-decoration: none;
}
.untitled:hover{
    background-color: darkgreen;
}
.first, .second, .third{
    width: 272px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}
.content{
    background-color: lightsalmon;
    border-radius: 3px;
    box-sizing: border-box;
    max-height: 100%;
    position: relative;
}
.title{
    padding: 10px 8px 8px;
    position: relative;
    min-height: 20px;
}
.title h2{
    color: #000;
    font-size: 16px;
}
.open-card, .open-card1, .open-card2 {
    border-radius: 0 0 3px 3px;
    color: #6b808c;
    display: block;
    flex: 0 0 auto;
    padding: 8px;
    position: relative;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hide{
    display: none;
}
button{
    color: #fff;
    background-color: red;
    box-sizing: border-box;
    border: none;
}
.value,.value1,.value2{
    display: none;
}
ul {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
  }
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s;
} 
ul#myUL1, ul#myUL2{
    list-style-type: none;
}