<!-- header component -->
<app-header></app-header>

<!-- Card Component Section -->
<div class="container">
  <div class="board-area">
    <p>Selected Board</p>
      <div class="row">
        <div class="col-md-4">
          <div class="first">
            <div class="content">
              <div class="title">
                <h2>Things to do</h2>
                <a class="open-card">
                  <span class="add-card">Add a card</span>
                </a>
                <div class="value">
                  <ul id="myUL">
                  
                  </ul>  
                <textarea rows="2" cols="33" id="myInput" placeholder="Enter the text...."></textarea><br>
                <button type="button" onclick="newElement()">Add Card</button>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="second">
                <div class="content">
                  <div class="title">
                    <h2>Things to do</h2>
                    <a class="open-card1">
                      <span class="add-card1">Add a card</span>
                    </a>
                    <div class="value1">
                      <ul id="myUL1">
                      
                      </ul>  
                    <textarea rows="2" cols="33" id="myInput1" placeholder="Enter the text...."></textarea><br>
                    <button type="button" onclick="newElement1()">Add Card</button>
                  </div>
                  </div>
                </div>
              </div>
            </div>
        <div class="col-md-4">
            <div class="third">
                <div class="content">
                  <div class="title">
                    <h2>Things to do</h2>
                    <a class="open-card2">
                      <span class="add-card2">Add a card</span>
                    </a>
                    <div class="value2">
                      <ul id="myUL2">
                      
                      </ul>  
                    <textarea rows="2" cols="33" id="myInput2" placeholder="Enter the text...."></textarea><br>
                    <button type="button" onclick="newElement2()">Add Card</button>
                  </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>